In [1]:
!pip install docx2txt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting docx2txt
  Downloading docx2txt-0.8.tar.gz (2.8 kB)
Building wheels for collected packages: docx2txt
  Building wheel for docx2txt (setup.py) ... done
  Created wheel for docx2txt: filename=docx2txt-0.8-py3-none-any.whl size=3980 sha256=2567dd62d789da48ec075be6c82be2a298c996e7b43848dbe3fd6d7919663857
  Stored in directory: /root/.cache/pip/wheels/b7/20/b2/473e3aea9a0c0d3e7b2f7bd81d06d0794fec12752733d1f3a8
Successfully built docx2txt
Installing collected packages: docx2txt
Successfully installed docx2txt-0.8

CLEANING THE RESUME

In [2]:
import docx2txt
import numpy as np
resume = docx2txt.process("/content/vanaja resume.docx")
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    res1 = ''.join([i for i in resumeText if not i.isdigit()])
    return res1
    
resume0=cleanResume(resume)
print(resume0)
d='RESUME Name TEELLA VANAJA Contact  Email vanajateella Career Objective Seeking a position in a reputed Organisation where I can use my technical skills as well as soft skills for the development of the organization and my professional growth Educational Qualifications Course Institute University Board Year of Completion CGPA Percentage B Tech CIVIL Gayatri Vidya Parishad College Of Engineering Autonomous Jawaharlal Nehru Technological University Kakinada JNTUK    Intermediate Vidwan junior college Bobbili Board of Intermediate Education Andhra P'
#d='RESUME Name DHARANI POLUKONDA Contact  Email polukondadharani LinkedIn Career Objective Seeking a position in a reputed Organisation where I can use my technical skills as well as soft skills for the development of the organization and my professional growth Educational Qualifications Course Institute University Board Year of Completion CGPA Percentage B Tech CSE Data Science Gayatri Vidya Parishad College Of Engineering Autonomous Jawaharlal Nehru Technological University Kakinada JNTUK    pursuing Intermediate Star Junior College Machilipatnam Board of Intermediate Education Andhra Pradesh    SSC Narayana e Techno School Machilipatnam SSC      Technical Skills Languages C Java R Advanced python Web Technologies HTML CSS JavaScript PHP Databases Oracle SQL Data Structures OOPs Concepts Design Analysis of Algorithms Operating Systems Computer Networks Database Management Systems and Software Engineering linux Certifications PCAP Programming Essentials in Python certification from CISCO Networking Academy Strengths Adaptability Optimistic Always interested in learning new things and also sharing the acquired knowledge with others Confidence Projects Developed a Dice game using JavaScript and HTML Developed an Application named Plavika which can be used to find plasma donors and allows the interested people to enroll as a Plasma Donor Academic Achievements Qualified in WE talent sprint supported by google Extra Curricular Activities I m an active participant of YES RACGVP of our College Participated in Group Discussion organized by IEEE WIE AG GVPCE A Participated in Debate organized by ICE under the auspices of Association of Civil Engineers Participated in Byte Code Quiz organized by IEEE Personal Details Father s Name Polukonda Veeranjaneyulu Date of Birth    Languages Known English Hindi Telugu Hobbies Cooking Browsing Internet Paper Craft Dancing Address for communication Plot  Sri venkateswara complex near kanayaka parameswari rice mill Godugupeta Koner center Machilipatnam pin code  Andhra Pradesh Declaration I hereby declare that the above mentioned information is a urate to the best of my knowledge Place Machilipatnam Signature Date    P Dharani'

RESUME Name TEELLA VANAJA Contact  Email vanajateella Career Objective Seeking a position in a reputed Organisation where I can use my technical skills as well as soft skills for the development of the organization and my professional growth Educational Qualifications Course Institute University Board Year of Completion CGPA Percentage B Tech CIVIL Gayatri Vidya Parishad College Of Engineering Autonomous Jawaharlal Nehru Technological University Kakinada JNTUK    Intermediate Vidwan junior college Bobbili Board of Intermediate Education Andhra Pradesh    SSC Andhra pardesh model school Mulakkayavalasa SSC   Skills Languages C python CORE QUALIFICATIONS Auto Cad Structural Analysis Geo technical Strength of materials Surveying Fluid Mechanics Building Materials and Concrete technology Certifications AUTOCAD participated in the exam conducted by APSSDC Strengths Adaptability Optimistic Always interested in learning new things and also sharing the acquired knowledge with others Confidence Extra Curricular Activities I m an active participant of RACGVP of our College Participated in Quiz organized by NSS of our college Personal Details Father s Name Teella Swami Naidu Date of Birth    Languages Known English Hindi Telugu Hobbies Cooking Browsing Internet Paper Craft Reading Stories Solving puzzles Address for communication Door Number   Kothavedi Chemudu Village Makkuva Mandal Vizianagaram District Andhra Pradesh Declaration I hereby declare that the above mentioned information is a urate to the best of my knowledge Place Chemudu Signature Date    T Vanaja

In [3]:
def cleanResume(resumeText):
    resumeText = re.sub('httpS+s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^x00-x7f]',r' ', resumeText) 
    resumeText = re.sub('s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
t1=cleanResume(resume0)

importing libaries

In [4]:
import nltk
from nltk.corpus import stopwords
import string
from wordcloud import WordCloud
nltk.download('stopwords')
nltk.download('punkt')
import pandas as pd
import re
from sklearn.preprocessing import LabelEncoder

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

 Store the job description into a variable

In [5]:

resumeDataSet = pd.read_csv("/content/UpdatedResumeDataSet.csv")
print(resumeDataSet)
resumeDataSet['cleaned_resume'] = ''
resumeDataSet.head()

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",

In [6]:
resumeDataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        962 non-null    object
 1   Resume          962 non-null    object
 2   cleaned_resume  962 non-null    object
dtypes: object(3)
memory usage: 22.7+ KB

In [7]:
print ("Displaying the distinct categories of resume:\n\n ")
print (resumeDataSet['Category'].unique())
print("total unique category: {}". format(len(resumeDataSet['Category'].unique())))

Displaying the distinct categories of resume:


['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']
total unique category: 25

In [8]:
print(resumeDataSet['Category'].value_counts())

Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Blockchain                   40
ETL Developer                40
Operations Manager           40
Data Science                 40
Sales                        40
Mechanical Engineer          40
Arts                         36
Database                     33
Electrical Engineering       30
Health and fitness           30
PMO                          30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
SAP Developer                24
Civil Engineer               24
Advocate                     20
Name: Category, dtype: int64

In [9]:
# import seaborn as sns
# import matplotlib.pyplot as plt
# plt.figure(figsize=(20,15))
# sns.countplot(y="Category",data=resumeDataSet)

Cleaning the dataset

In [10]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)# remove extra whitespace
    res1 = ''.join([i for i in resumeText if not i.isdigit()])
    return res1
    
resumeDataSet['cleaned_resume'] = resumeDataSet.Resume.apply(lambda x: cleanResume(x))

In [11]:
type(resumeDataSet)

pandas.core.frame.DataFrame

In [12]:
resumeDataSet.head()

,Category,Resume,cleaned_resume
0,Data Science,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
1,Data Science,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May to May B E UIT RGPV Da...
2,Data Science,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
3,Data Science,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,Data Science,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...

word count

In [13]:
import nltk
from nltk.corpus import stopwords
import string
from wordcloud import WordCloud

stopwords=set(stopwords.words('english')+['``',"''"])

total_words=[]
sentences=resumeDataSet['Resume'].values
cleanSentences =""

for i in range(0,200):
    resumeText=cleanResume(sentences[i])
    cleanSentences+=resumeText
    words=nltk.word_tokenize(resumeText)
    for word in words:
        if word not in stopwords and word not in string.punctuation:
            total_words.append(word)
            
word_freq_dist=nltk.FreqDist(total_words)
most_common=word_freq_dist.most_common(100)

print(most_common)

[('Details', 609), ('Exprience', 580), ('months', 478), ('company', 459), ('description', 427), ('Project', 269), ('year', 264), ('January', 253), ('Maharashtra', 244), ('Less', 224), ('data', 223), ('project', 212), ('Skill', 206), ('Data', 203), ('Web', 196), ('Education', 192), ('application', 192), ('HTML', 178), ('CSS', 174), ('I', 174), ('time', 169), ('Python', 168), ('College', 168), ('Science', 154), ('Pune', 154), ('Used', 152), ('Software', 151), ('Engineering', 147), ('The', 146), ('University', 140), ('like', 139), ('Nagpur', 138), ('C', 137), ('SQL', 136), ('monthsCompany', 134), ('Roles', 134), ('B', 132), ('Responsibility', 130), ('developed', 128), ('Technologies', 127), ('India', 122), ('Designed', 121), ('website', 120), ('Machine', 118), ('UI', 117), ('Learning', 116), ('Developer', 116), ('Mumbai', 115), ('using', 114), ('Database', 110), ('development', 105), ('Description', 103), ('Responsibilities', 100), ('S', 100), ('A', 99), ('BOOTSTRAP', 99), ('Team', 97), ('Management', 96), ('required', 94), ('requirement', 93), ('team', 92), ('Trust', 92), ('learning', 90), ('Systems', 90), ('Arts', 90), ('Made', 90), ('various', 89), ('Skills', 88), ('projects', 88), ('based', 86), ('Development', 86), ('new', 83), ('design', 82), ('PHP', 81), ('text', 79), ('Company', 79), ('user', 77), ('Technical', 77), ('Ltd', 77), ('My', 76), ('Board', 76), ('information', 75), ('Pvt', 75), ('Application', 74), ('M', 74), ('State', 72), ('www', 72), ('JQUERY', 72), ('AJAX', 72), ('size', 72), ('Position', 72), ('Synopsis', 72), ('com', 71), ('Name', 71), ('work', 70), ('Council', 70), ('E', 69), ('SAP', 68), ('given', 68), ('days', 68)]

In [14]:
import nltk
from nltk.corpus import stopwords
import string
from wordcloud import WordCloud
stopwords=set(stopwords.words('english')+['``',"''"])

total_words_1=[]
sentences_1=resume0
print(sentences_1)
cleanSentences_1 =""

resumeText_1=cleanResume(sentences_1)
cleanSentences_1+=resumeText_1
words_1=nltk.word_tokenize(resumeText_1)
for word in words_1:
        if word not in stopwords and word not in string.punctuation:
            total_words.append(word)
            
word_freq_dist_1=nltk.FreqDist(total_words_1)
most_common_1=word_freq_dist_1.most_common(100)

print(most_common_1)

RESUME Name TEELLA VANAJA Contact  Email vanajateella Career Objective Seeking a position in a reputed Organisation where I can use my technical skills as well as soft skills for the development of the organization and my professional growth Educational Qualifications Course Institute University Board Year of Completion CGPA Percentage B Tech CIVIL Gayatri Vidya Parishad College Of Engineering Autonomous Jawaharlal Nehru Technological University Kakinada JNTUK    Intermediate Vidwan junior college Bobbili Board of Intermediate Education Andhra Pradesh    SSC Andhra pardesh model school Mulakkayavalasa SSC   Skills Languages C python CORE QUALIFICATIONS Auto Cad Structural Analysis Geo technical Strength of materials Surveying Fluid Mechanics Building Materials and Concrete technology Certifications AUTOCAD participated in the exam conducted by APSSDC Strengths Adaptability Optimistic Always interested in learning new things and also sharing the acquired knowledge with others Confidence Extra Curricular Activities I m an active participant of RACGVP of our College Participated in Quiz organized by NSS of our college Personal Details Father s Name Teella Swami Naidu Date of Birth    Languages Known English Hindi Telugu Hobbies Cooking Browsing Internet Paper Craft Reading Stories Solving puzzles Address for communication Door Number   Kothavedi Chemudu Village Makkuva Mandal Vizianagaram District Andhra Pradesh Declaration I hereby declare that the above mentioned information is a urate to the best of my knowledge Place Chemudu Signature Date    T Vanaja
[]

In [15]:
from sklearn.preprocessing import LabelEncoder

var=['Category']
le= LabelEncoder()
for i in var:
    resumeDataSet[i]=le.fit_transform(resumeDataSet[i])

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack


vect=TfidfVectorizer(
     sublinear_tf=True,
    stop_words='english',
        max_features=146)
resume=[resume0]

vect.fit(resume)
Word_feature_1=vect.transform(resume)
print(Word_feature_1)

  (0, 136)	0.0752701488880479
  (0, 135)	0.0752701488880479
  (0, 134)	0.0752701488880479
  (0, 133)	0.0752701488880479
  (0, 132)	0.0752701488880479
  (0, 131)	0.0752701488880479
  (0, 130)	0.1274434403701256
  (0, 129)	0.0752701488880479
  (0, 128)	0.0752701488880479
  (0, 127)	0.1274434403701256
  (0, 126)	0.0752701488880479
  (0, 125)	0.0752701488880479
  (0, 124)	0.1274434403701256
  (0, 123)	0.0752701488880479
  (0, 122)	0.0752701488880479
  (0, 121)	0.1274434403701256
  (0, 120)	0.0752701488880479
  (0, 119)	0.0752701488880479
  (0, 118)	0.0752701488880479
  (0, 117)	0.0752701488880479
  (0, 116)	0.0752701488880479
  (0, 115)	0.0752701488880479
  (0, 114)	0.0752701488880479
  (0, 113)	0.1274434403701256
  (0, 112)	0.0752701488880479
  :	:
  (0, 24)	0.0752701488880479
  (0, 23)	0.1796167318522033
  (0, 22)	0.0752701488880479
  (0, 21)	0.1274434403701256
  (0, 20)	0.0752701488880479
  (0, 19)	0.0752701488880479
  (0, 18)	0.0752701488880479
  (0, 17)	0.0752701488880479
  (0, 16)	0.0752701488880479
  (0, 15)	0.0752701488880479
  (0, 14)	0.0752701488880479
  (0, 13)	0.1274434403701256
  (0, 12)	0.0752701488880479
  (0, 11)	0.0752701488880479
  (0, 10)	0.0752701488880479
  (0, 9)	0.0752701488880479
  (0, 8)	0.0752701488880479
  (0, 7)	0.0752701488880479
  (0, 6)	0.1579628594263356
  (0, 5)	0.0752701488880479
  (0, 4)	0.0752701488880479
  (0, 3)	0.0752701488880479
  (0, 2)	0.0752701488880479
  (0, 1)	0.0752701488880479
  (0, 0)	0.0752701488880479

In [17]:
resumeDataSet

,Category,Resume,cleaned_resume
0,6,Skills * Programming Languages: Python (pandas...,Skills Programming Languages Python pandas num...
1,6,Education Details \r\nMay 2013 to May 2017 B.E...,Education Details May to May B E UIT RGPV Da...
2,6,"Areas of Interest Deep Learning, Control Syste...",Areas of Interest Deep Learning Control System...
3,6,Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...,Skills R Python SAP HANA Tableau SAP HANA SQL ...
4,6,"Education Details \r\n MCA YMCAUST, Faridab...",Education Details MCA YMCAUST Faridabad Haryan...
...,...,...,...
957,23,Computer Skills: â¢ Proficient in MS office (...,Computer Skills Proficient in MS office Word B...
958,23,â Willingness to accept the challenges. â ...,Willingness to a ept the challenges Positive ...
959,23,"PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...",PERSONAL SKILLS Quick learner Eagerness to lea...
960,23,COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...,COMPUTER SKILLS SOFTWARE KNOWLEDGE MS Power Po...
961,23,Skill Set OS Windows XP/7/8/8.1/10 Database MY...,Skill Set OS Windows XP Database MYSQL sq...

Vectorization

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack


text=resumeDataSet['cleaned_resume'].values
terget=resumeDataSet['Category'].values
vect=TfidfVectorizer(
     sublinear_tf=True,
    stop_words='english',
        max_features=2000)
vect.fit(text)
Word_feature=vect.transform(text)
print(Word_feature)

  (0, 1993)	0.025902596172954907
  (0, 1976)	0.029698390639205402
  (0, 1974)	0.0979115856208258
  (0, 1940)	0.061003156595213964
  (0, 1925)	0.06773524436270364
  (0, 1922)	0.028646798221175926
  (0, 1911)	0.027552571454683226
  (0, 1909)	0.07350601029682999
  (0, 1908)	0.035093253040129495
  (0, 1904)	0.0488535759108652
  (0, 1883)	0.040075372713306315
  (0, 1882)	0.043339022946890786
  (0, 1840)	0.180742139094626
  (0, 1839)	0.0719741036697864
  (0, 1838)	0.10283884656799709
  (0, 1830)	0.05477686693731359
  (0, 1818)	0.12282555510821712
  (0, 1812)	0.05933424657034643
  (0, 1801)	0.045681616946213
  (0, 1800)	0.07011716048350393
  (0, 1798)	0.05000020923632921
  (0, 1794)	0.02196378453485329
  (0, 1772)	0.12896826695381727
  (0, 1770)	0.04886312203884404
  (0, 1759)	0.07801066295088976
  :	:
  (961, 573)	0.09779510719526015
  (961, 569)	0.0654965285729677
  (961, 549)	0.02928375440716819
  (961, 535)	0.18683442707122955
  (961, 484)	0.08611734408818683
  (961, 476)	0.05344709461229543
  (961, 466)	0.025467826954456544
  (961, 419)	0.12494610581463417
  (961, 401)	0.12188641515754293
  (961, 373)	0.0669372524954269
  (961, 371)	0.08640511920605633
  (961, 314)	0.025467826954456544
  (961, 296)	0.08231964078983425
  (961, 272)	0.10858654309001707
  (961, 229)	0.12536110854696075
  (961, 193)	0.08190690156329121
  (961, 192)	0.10348573685051378
  (961, 143)	0.12716302268265636
  (961, 124)	0.07086313533417934
  (961, 109)	0.09884240299201823
  (961, 108)	0.18029547987456182
  (961, 73)	0.10738949351617509
  (961, 64)	0.1046435647264394
  (961, 61)	0.22086390758629953
  (961, 60)	0.07215292115793513

In [19]:
x_train, x_test, y_train, y_test=train_test_split(Word_feature, terget, random_state=0, test_size=0.2)
print(x_train.shape)
print(x_test.shape)

(769, 2000)
(193, 2000)

In [20]:
import sklearn
from sklearn.multiclass import OneVsRestClassifier
from sklearn.neighbors import KNeighborsClassifier

model=OneVsRestClassifier(KNeighborsClassifier())
model.fit(x_train, y_train)

OneVsRestClassifier(estimator=KNeighborsClassifier())

In [21]:
prediction=model.predict(x_test)

In [22]:
print("training Score: {:.2f}".format(model.score(x_train, y_train)))
print("test Score: {:.2f}".format(model.score(x_test, y_test)))

training Score: 0.99
test Score: 0.98

In [23]:
from sklearn import metrics
print("model report: %s: \n %s\n" % (model, metrics.classification_report(y_test, prediction)))

model report: OneVsRestClassifier(estimator=KNeighborsClassifier()):
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         3
           2       1.00      0.80      0.89         5
           3       1.00      1.00      1.00         9
           4       1.00      0.83      0.91         6
           5       1.00      1.00      1.00         5
           6       1.00      1.00      1.00         9
           7       1.00      1.00      1.00         7
           8       1.00      0.91      0.95        11
           9       0.90      1.00      0.95         9
          10       1.00      1.00      1.00         8
          11       0.90      1.00      0.95         9
          12       1.00      1.00      1.00         5
          13       1.00      1.00      1.00         9
          14       1.00      1.00      1.00         7
          15       1.00      1.00      1.00        19
          16       1.00      1.00      1.00         3
          17       1.00      1.00      1.00         4
          18       1.00      1.00      1.00         5
          19       1.00      1.00      1.00         6
          20       1.00      1.00      1.00        11
          21       1.00      1.00      1.00         4
          22       1.00      1.00      1.00        13
          23       1.00      1.00      1.00        15
          24       0.89      1.00      0.94         8

    accuracy                           0.98       193
   macro avg       0.99      0.98      0.98       193
weighted avg       0.99      0.98      0.98       193

In [24]:
import pickle
pickle.dump(vect,open("count-Vectorizer.pkl","wb"))
pickle.dump(model,open("Movie_Review_classification.pkl","wb"))

In [25]:
save_vect=pickle.load(open("count-Vectorizer.pkl","rb"))
model=pickle.load(open("Movie_Review_classification.pkl","rb"))

In [26]:
resumeDataSet['Category'].value_counts()

15    84
23    70
8     55
20    48
24    45
12    44
13    42
3     40
10    40
18    40
6     40
22    40
16    40
1     36
7     33
11    30
14    30
19    30
4     28
9     28
2     26
17    25
21    24
5     24
0     20
Name: Category, dtype: int64

In [27]:
resumeDataSet['Category']

0       6
1       6
2       6
3       6
4       6
       ..
957    23
958    23
959    23
960    23
961    23
Name: Category, Length: 962, dtype: int64

In [28]:
def test_model(de):
    sen=save_vect.transform([de]).toarray()
    res=model.predict(sen)[0]
    if res==15:
        return "Java Developer"
    if res==23:
        return "Testing"
    if res==8:
        return "DevOps Engineer"
    if res==24:
        return "Web Designing"
    if res==20:
        return "Python Developer"
    if res==12:
        return "HR"
    if res==13:
        return "Hadoop"
    if res==3:
        return "Blockchain "
    if res==10:
        return "ETL Developer"
    if res==18:
        return "Operations Manager"
    if res==6:
        return "Data Science"
    if res==22:
        return "Sales"
    if res==16:
        return "Mechanical Engineer"
    if res==1:
        return "Arts"
    if res==7:
        return "Database"
    if res==11:
        return "Electrical Engineering"
    if res==14:
        return "Health and Fitness"
    if res==19:
        return "PMO"
    if res==4:
        return "Business Analyst"
    if res==9:
        return "DotNet Developer"
    if res==2:
        return "Automation Testing"
    if res==17:
        return "Network Security Engineer"  
    if res==21:
        return "SAP Developer"                                            
    if res==5:
        return "Civil Engineer"
    if res==0:
        return "Advocate"
    else:
        return "Sorry,You have no jobs"

In [29]:
r=test_model(resume0)
print(r)

Civil Engineer